.eb-icon {
  --eb-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--eb-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .eb-icon--$(val) {
    --eb-icon-color: var(--eb-color-$(val));
  }
}
