/* 消息组件变量定义 */
.cr-message {
  --cr-message-bg-color: var(--cr-color-info-light-9); /* 使用info主题的超浅色作为背景 */
  --cr-message-border-color: var(--cr-border-color-lighter); /* 使用全局边框色 */
  --cr-message-padding: 15px 19px; /* 内边距 */
  --cr-message-close-size: 16px; /* 关闭按钮大小 */
  --cr-message-close-icon-color: var(--cr-text-color-placeholder); /* 关闭图标颜色 */
  --cr-message-close-hover-color: var(--cr-text-color-secondary); /* 关闭图标悬停颜色 */
}

/* 消息组件基础样式 */
.cr-message {
  width: fit-content; /* 适应内容宽度 */
  max-width: calc(100% - 32px); /* 最大宽度限制 */
  box-sizing: border-box;
  border-radius: var(--cr-border-radius-base); /* 使用全局圆角 */
  border-width: var(--cr-border-width);
  border-style: var(--cr-border-style);
  border-color: var(--cr-message-border-color);
  position: fixed; /* 固定定位 - 用于弹出消息 */
  left: 50%;
  top: 20px;
  transform: translateX(-50%); /* 水平居中 */
  background-color: var(--cr-message-bg-color);
  padding: var(--cr-message-padding);
  display: flex;
  align-items: center;
  /* 过渡动画 */
  transition:
    top var(--cr-transition-duration),
    opacity var(--cr-transition-duration),
    transform var(--cr-transition-duration);

  /* 消息内容 */
  .cr-message__content {
    color: var(--cr-message-text-color);
    overflow-wrap: anywhere; /* 文本换行 */
  }

  /* 有关闭按钮时的内容样式 */
  &.is-close .cr-message__content {
    padding-right: 30px; /* 为关闭按钮留出空间 */
  }

  /* 关闭按钮 */
  .cr-message__close {
    display: flex;
    align-items: center;
  }

  /* 关闭图标 */
  .cr-message__close svg {
    cursor: pointer;
  }
}
/* 不同类型消息样式 (info, success, warning, danger) */
@each $val in info, success, warning, danger,primary {
  .cr-message--$(val) {
    --cr-message-bg-color: var(--cr-color-$(val)-light-9); /* 使用对应主题色的超浅色 */
    --cr-message-border-color: var(--cr-color-$(val)-light-8); /* 使用对应主题色的较浅色 */
    --cr-message-text-color: var(--cr-color-$(val)); /* 使用对应主题色 */

    /* 关闭图标颜色 */
    .cr-message__close {
      --cr-icon-color: var(--cr-color-$(val));
    }
  }
}
/* 过渡动画类 */
.ev-message.fade-up-enter-from,
.cr-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%); /* 向上消失 */
}
